*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: left;
}
body{
    background-color: rgb(255, 255, 255);
}

main{
    background-color: rgb(15, 148, 209);
    width: 500px;
    margin: auto;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
h1{
    font-size: 23pt;
    text-align: center;
}
h2{
    font-size: 15pt;
    text-align: center;
}
img#img1{
    width: 400px;
    height: 200px;
    margin-left: 50px;
    border-radius: 10px;
}

img.lado{
    padding: 10px;
    float: right;
}
footer{
    color: white;
    margin-top: 15pt;
    text-align: center;
}
iframe{
    margin-left: 25px;
    width: 450px;
}